body {

    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 2fr 1fr;
    

}

h1 {

    grid-row: 2;
    grid-column: 2;
    margin-top: 20%;
    margin-left: 20%;
    color: blue;
}

.weather {

    grid-column: 3;
    grid-row: 1;
    max-height: 40%;
}

.calculator {

    display: flex;
    flex-direction: row;  
    flex-wrap: wrap;
    justify-content: flex-end;
    border: 1px solid blue;
    border-radius: 5px;
    width: 400px;
    padding-top: 3px;
    margin-top: 10px;
    background-color: black;
}



.calculator-screen {
    width: 90%;
    font-size: 5rem;
    height: 80px;
    border: none;
    background-color: white;
    color: black;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 2%;
  }

button {

    height: 60px;
    width: 90px;
    background-color: white;
    border-radius: 4px;
    border: 1px solid black;
    font-size: 1.3rem;
    color: black;
    background-image: linear-gradient(to bottom,transparent,transparent 50%,rgba(0,0,0,.04));
    box-shadow: inset 0 0 0 1px rgba(255,255,255,.05), inset 0 1px 0 0 rgba(255,255,255,.45), inset 0 -1px 0 0 rgba(255,255,255,.15), 0 1px 0 0 rgba(255,255,255,.15);
    text-shadow: 0 1px rgba(255,255,255,.4);
}  

button:hover {

    background-color: blue;
    color: white;
}

.operator {

    color: black;
    background-color: darkgreen;
}

.operator:hover {

    color: white;
    background-color: darkgreen;
}

.all-clear {

    background-color: rgb(255, 0, 0);
    border-color: black;
    color: white;
}

.all-clear:hover {

    background-color: rgb(225, 0, 0);
}

.equal-sign {

    background-color: blue;
    color: white;
    border-color: white;
    height: 10%;
    width: 93%;
    /* grid-row-start: 2;
    grid-row-end: 6;
    grid-column-start: 4;
    grid-column-end: 5; */
}

.equal-sign:hover {

background-color: darkblue;
}

  .clock {

    grid-row: 3;
    grid-column: 3;
  }
  
  h3 {

    margin-left: 20%;
    margin-top: 15%;
  }
  
  #TDL {

    grid-row: 3;
    grid-column: 1;
    margin-left: 2%;
  }

  main {

    background-image: url("../img/myProfilePic.jpg.jpeg");
    background-repeat: no-repeat;
    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
    margin-left: 50px;
  }

  h4 {

    grid-row: 1;
    grid-column: 3;
    font-size: 25px;
  }

  #list_selection {
    grid-row: 2;
    grid-column: 1;
  }

.location {
  grid-row: 1;
  grid-column: 3;
  margin-top: 20%;
  }

  .Loc {
    width: 30%;
  }

  ul {
    border-radius: 25%;
    border: solid 1px;
    background-color: lightblue;
    width: 45%;
    text-align: center;
  }  

@media (min-width : 320px) {
  
  body {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr;
  }

 main {

    grid-row: 1;
    grid-column: span 3;
    margin-left: 0%;
  }

  .weather {

    grid-column: span 3;
    grid-row: 5;
    max-height: 40%;
  }

  .calculator {

    grid-row: 4;
    grid-column: span 3;
    width: 100%;

  }

  h4 {

    grid-row: 3;
    grid-column: 1;
    font-size: 25px;
    margin-left: 20%;
    margin-top: 30%;
  }

  .clock {

    grid-row: 3;
    grid-column: 1;
    margin-left: 1%;
  }

  #TDL {

    grid-row: 2;
    grid-column: span 3;
  }
}


@media (min-width: 768px) {
  
  body {

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 1fr 1fr;
  }

  main {

    grid-row: 1;
    grid-column: 1;
    margin-left: 0%;
  }

  #TDL {

    grid-row: 1;
    grid-column: 2;
  }

  h4 {

    grid-row: 2;
    grid-column: 1;
    margin-top: 10%;
  }

  .clock {

    grid-row: 2;
    grid-column: 1;
    margin-left: 1%;
  }

  .calculator {

    grid-row: 2;
    grid-column: 2;
    width: 100%;

  }

  .weather {

    grid-column: span 3;
    grid-row: 3;
  }

}

@media (min-width: 992px) {

  body {

    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    grid-template-rows: 2fr 2fr 2fr; 
  }

  .weather {

    grid-column: span 4;
    grid-row: 3;
    height: 100%;
  }

  main {

    grid-row: 2;
    grid-column: 2;
    margin-top: 10px;
    margin-left: 50px;
  }

  .clock {

    grid-row: 1;
    grid-column: 3;
  }

  h4 {

    grid-row: 1;
    grid-column: 3;
    font-size: 25px;
  }

  #TDL {

    grid-row: 2;
    grid-column: 1;
  }

  .calculator {

    grid-row: 3;
    grid-column: 3;
    border: 1px solid blue;
    border-radius: 5px;
    width: 400px;
    padding-top: 3px;
    margin-top: 10px;
    background-color: black;
  }

  .weather {

      grid-column: 1;
      grid-row: 1;
      height: 80%;
  }

}